<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Scraper Control</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h2>Block Ads URLs</h2>
    <ul>
        {% for url in blocked_urls %}
        <li>{{ url }}</li>
        {% endfor %}
    </ul>

    <h2>Add URL to Block</h2>
    <form action="{{ url_for('add_url') }}" method="POST">
        <input type="text" name="url" placeholder="Enter image URL">
        <button type="submit">Add to Block</button>
    </form>

    <h2>autostart section</h2>
    <form action="{{ url_for('fetch_new_houses') }}" method="POST">
        <button type="submit">Fetch New Options</button>
    </form>
    <form action="{{ url_for('start_selenium') }}" method="POST">
        <button type="submit">Start Selenium</button>
    </form>
    <h2>Fetch  Rentals</h2>

    <form action="{{ url_for('fetch_flats_for_rent') }}" method="POST">
        <button type="submit">Flats for Rent</button>
    </form>
    <form action="{{ url_for('fetch_houses_for_rent') }}" method="POST">
        <button type="submit">Houses for Rent</button>
    </form>
    <form action="{{ url_for('fetch_commercials_for_rent') }}" method="POST">
        <button type="submit">Commercials for Rent</button>
    </form>
    <form action="{{ url_for('fetch_hotels_for_rent') }}" method="POST">
        <button type="submit">Hotels for Rent</button>
    </form>

</body>
</html>
