<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeleniumApp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h2>Block Ads URLs</h2>
    <ul>
        {% for url in blocked_urls %}
        <li>{{ url }}</li>
        {% endfor %}
    </ul>

    <h2>Add URL to Block</h2>
    <form action="{{ url_for('add_url') }}" method="POST">
        <input type="text" name="url" placeholder="Enter image URL">
        <button type="submit">Add to Block</button>
    </form>
    <form action="{{ url_for('remove_blocked_urls') }}" method="POST">
        <button type="submit">Remove from Block</button>
    </form>
    <h2>Autostart section</h2>
    <form action="{{ url_for('fetch_new_houses') }}" method="POST">
        <button type="submit">Fetch New Options</button>
    </form>
    <h2>Fetch  all</h2>
    <form action="{{ url_for('start_selenium') }}" method="POST">
        <button type="submit">Start Selenium</button>
    </form>
</body>
</html>
